<header>
   <nav class="header-nav">
    <a class= "header-title" href="/"> Martim's Library</a>
    <ul>
        <li class="header-link"><a href='/authors'>Authors</a></li>
        <li class="header-link"><a href='/authors/new'>New author</a></li>
        <li class="header-link"><a href='/books'>Books</a></li>
        <li class="header-link"><a href='/books/new'>New book</nav></a></li>
    </ul>
   </nav>
</header>