<header>
   <nav>
    <a href="/"> Martim's Library</a>
    <ul>
        <li><a href='/authors'>authors</a></li>
        <li><a href='/authors/new'>new authors</a></li>
        <li><a href='/books'>books</a></li>
        <li><a href='/books/new'>New books</nav></a></li>
    </ul>
   </nav>
</header>