<header>
   <nav class="header-nav">
    <a class= "header-title" href="/"> Martim's Library</a>
    <ul>
        <li class="header-link"><a href='/authors'>authors</a></li>
        <li class="header-link"><a href='/authors/new'>new authors</a></li>
        <li class="header-link"><a href='/books'>books</a></li>
        <li class="header-link"><a href='/books/new'>New books</nav></a></li>
    </ul>
   </nav>
</header>