<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
    <script defer src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>
    <title>Martim's Library</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

    <br>
    <%- include('../partials/header.ejs') %>
    <%- include('../partials/errorMessage.ejs') %>
    <%- body  %>
    <br>

     
</body>
</html>